.gradle
/local.properties
.idea
.idea/
app/app.iml
SistemasMoviles.iml
.DS_Store
/build
/captures
rajawali/
rajawalicardboard/
rajawalicardboard/build/intermediates/exploded-aar/SistemasMoviles/rajawali/unspecified/AndroidManifest.xml
rajawali/build/generated/source/buildConfig/release/org/rajawali3d/BuildConfig.java
rajawali/build/intermediates/bundles/release/aapt/AndroidManifest.xml
rajawali/build/generated/source/buildConfig/release/org/rajawali3d/BuildConfig.java
rajawali/build/generated/source/buildConfig/release/org/rajawali3d/BuildConfig.java
rajawali/build/generated/source/buildConfig/release/org/rajawali3d/BuildConfig.java
rajawali/build/generated/source/buildConfig/release/org/rajawali3d/BuildConfig.java
